[submodule "KaffuJetBrainsTheme"]
	path = KaffuJetBrainsTheme
	url = .\\KaffuJetBrainsTheme\\
[submodule "KaffuThemeTest"]
	path = KaffuThemeTest
	url = .\\KaffuThemeTest\\
[submodule "KaffuVSCodeTheme"]
	path = KaffuVSCodeTheme
	url = .\\KaffuVSCodeTheme\\
[submodule "KaffuVSTheme"]
	path = KaffuVSTheme
	url = .\\KaffuVSTheme\\
